@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Party!</title>
</head>
<body>
<div>
    <div>
        We're going to have an exciting party.<br />
        (To do: sell it better. Add pictures or something.)
    </div>
    <!-- The asp-action attribute is an instruction to add an href attribute to the a element that contains a URL for an action method -->
    <a asp-action="RsvpForm">RSVP Now</a>
</div>
</body>
</html>
